<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <script>

        //练习： 封装一个jsonp函数用来发送跨域请求
        //参数： url    请求的地址
        //参数:  params 请求的参数
        //参数： callback 成功之后的回调

       function jsonp(url, params, callback) {
            var script = document.createElement("script");
            var randomKey="cbf"+new Date().getTime();
    // 将callback以生成的随机串为属性名添加到window对象上，这样，在页面的任意位置都能以window[randomkey]()形式访问回调函数
    window[randomKey]=callback;
    url+="?callback="+randomKey;
            if (params) {
                for (var k in params) {
                    url +="&"+ k + "=" + params[k]
                }
                
            }
            script.src = url
            document.body.appendChild(script);
            

            //在这里补全自己的代码！！

        }

        jsonp("https://api.douban.com/v2/book/search",{q:"python",fields:"id,title"},function(data){
          console.log(data)
        })
  </script>
</body>
</html>